<div *ngIf="!loading$; else bookList">
  
  <!-- <div fxLayout="row" fxLayoutAlign="center center"> -->
    Loading...
    <mat-spinner></mat-spinner>
  <!-- </div> -->

</div>

<ng-template #bookList>
  

  <div class="book-item" *ngFor="let book of books.books">
    <!-- <p>{{book.volumeInfo.title}}</p><span> by {{book.volumeInfo.authors}}</span> -->

    <app-book-detail [book]="book"></app-book-detail>
    <button mat-raised-button color="primary" (click)="add.emit(book)" 
      data-test="add-button">Add to Collection</button>
  </div>
</ng-template>