<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ book.volumeInfo.title  }}</mat-card-title>
      <mat-card-subtitle>{{ book.volumeInfo.subtitle  }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="Photo of a Book">
    <mat-card-content>
      
        <p *ngIf="book.volumeInfo.description">{{ book.volumeInfo.description | truncs}}</p>
      
    </mat-card-content>

    <mat-card-footer>
        <app-book-authors [book]="book"></app-book-authors>
      </mat-card-footer>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>


  </mat-card>